body {
    background-color: #F8F3F3;
    font-family: "Inter", sans-serif;
}

.Header {}

nav {
    width: 100%;
    margin: auto;
    height: 87px;
    display: inline-block;
    background-color: #D9D9D9;
    border: 1px solid #000;
}

.icon {
    text-decoration: none;
    position: relative;
    left: 33%;
}

.icon img {
    border: #000 thin solid;
    padding: 7px;
    height: 30px;
    background-color: aqua;
    margin: 25px;
}

.icon img:hover {
    border: #000 thin solid;
    padding: 7px;
    height: 30px;
    background-color: beige;
}

h1 {
    text-align: center;
    font-weight: bold;
}

label {
    font-weight: bold;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: aqua;
    color: black;
    padding: 12px 20px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}

input[type=submit]:hover {
    background-color: beige;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}