body {
    background-color: #F8F3F3;
    font-family: "Inter", sans-serif;
    font-size: 20px;
}

.Header{

}

nav{
    width: 100%;
    margin: auto;
    height: 87px;
    display: inline-block;
    background-color: #D9D9D9;
    border: 1px solid #000;
}

.icon{
    text-decoration: none;
    position: relative;
    left: 33%;
}

.icon img{
    border: #000 thin solid;
    padding:7px;
    height:30px;
    background-color: aqua;
    margin: 25px;

}

.icon img:hover{
    border: #000 thin solid;
    padding:7px;
    height:30px;
    background-color:beige;

}
.title{
    text-align: center;
    font-size: 20px;
}
form{
    text-align: center;
    padding:7px;
    height:30px;

}
.signupbtn{
    background-color: aqua;
    padding: 10px 24px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    border: 1px solid black;
    text-decoration: none;
    transition-duration: 0.4s;
}
.signupbtn:hover {
    background-color: beige;
    color: black;
}